{{#extends "base"}}

{{#block "content"}}
    <h1>Thanks for your submission</h1>
    <ul>
        <li>Food Name: {{foodName}}</li>
        <li>Cal: {{cal}}</li>
        <li>Meal: {{meal}}</li>
        <li>Tags: {{selectedTags}}</li>
    </ul>
{{/block}}

{{/extends}}